server:
  port: 8080
spring:
  datasource:
    url: jdbc:mysql://127.0.0.1:3306/xy365?useUnicode=true&characterEncoding=UTF-8&useSSL=false&autoReconnect=true&failOverReadOnly=false
    username: root
    password: uAiqwVwjJ8-i
    type: com.alibaba.druid.pool.DruidDataSource
    driver-class-name: com.mysql.jdbc.Driver
    filters: stat
    maxActive: 20
    initialSize: 1
    maxWait: 60000
    minIdle: 1
    timeBetweenEvictionRunsMillis: 60000
    minEvictableIdleTimeMillis: 300000
    validationQuery: select 'x'
    testWhileIdle: true
    testOnBorrow: false
    testOnReturn: false
    poolPreparedStatements: true
    maxOpenPreparedStatements: 20
  jpa:
    generate-ddl: false
    show-sql: false
    hibernate:
      ddl-auto: update
    database-platform: org.hibernate.dialect.MySQL5InnoDBDialect
    open-in-view: true
  redis:
    host: 127.0.0.1
    port: 6379
    database: 0
    password: redis
  ###解决系统给我们处理的其它异常##
  mvc:
    throw-exception-if-no-handler-found: true
    static-path-pattern: /**
  #出现错误时, 直接抛出异常
  resources:
    add-mappings: true
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/,classpath:/public/,file:${xy.config.file-config.file-dir}

  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 15MB
      file-size-threshold: 0
#不要为我们工程中的资源文件建立映射
xy:
  config:
    file-config:
      temp-dir: /home/temp/
      image-server: http://image.luosen365.com/
    wx-config:
      app-id: wx886da5540ca9dba4
      secret: 373b3e68734368a0d4ff76403d213da3

